:root { 
--gray_800_01:#663259; 
--lime_900_70:#62410070; 
--teal_300:#50cd89; 
--teal_500:#0bb783; 
--amber_A700:#ffa800; 
--red_A200_7a:#f654647a; 
--blue_gray_700:#4a4b68; 
--blue_gray_600_0a:#5e62780a; 
--deep_purple_A200:#8950fc; 
--red_A200_01:#f65464; 
--teal_A700:#0abb87; 
--pink_50:#ffe2e5; 
--blue_gray_300:#959cb6; 
--gray_800:#434349; 
--red_A200:#f64e60; 
--black_900_0c:#0000000c; 
--blue_50:#e1e9ff; 
--white_A700_65:#ffffff65; 
--deep_purple_50:#eee5ff; 
--cyan_400_01:#1bc5bc; 
--blue_300:#6993ff; 
--cyan_50:#c9f7f5; 
--blue_gray_700_02:#464e5f; 
--blue_gray_400_01:#80808f; 
--white_A700:#ffffff; 
--blue_gray_700_01:#494b69; 
--cyan_400:#1bc5bd; 
--blue_gray_50:#eef0f7; 
--teal_200:#74bbb7; 
--pink_50_01:#ffe2e6; 
--black_900:#000000; 
--blue_gray_800:#3f4254; 
--deep_purple_A200_01:#8a50fc; 
--blue_gray_50_01:#eeeff3; 
--gray_900_02:#212121; 
--blue_gray_50_02:#ebedf2; 
--blue_gray_200:#b5b5c3; 
--blue_gray_400:#888c9f; 
--blue_gray_600:#5b5d80; 
--indigo_50:#e5eaee; 
--gray_900:#1e1e2d; 
--gray_900_01:#1b1b28; 
--deep_purple_A200_7a:#8a50fc7a; 
--teal_50:#d7f9ef; 
--blue_gray_300_01:#959cbd; 
--gray_100:#f3f6f9; 
--blue_gray_300_02:#a1a5b7; 
--orange_50:#fff4de; 
--blue_400:#3699ff; 
--blue_gray_50_03:#eff2f5; 
}